@model SC.ViewModel.StudentListViewModel

@{
    ViewBag.Title = "Student List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add Student", "EditStudent", "Student",
        new {code = 0},   
        new { id = "btnCreate", @class = "btn btn-primary modal-link" })
   
</p>


<div id="messageContainer">
</div>


<div id="studentList">
    @Html.Partial("_StudentList", Model.StudentList)
</div>

<div id='modalDiv' class='modal fade in'>
    <div class="modal-dialog">
        <div id='modalContent'></div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/app/student.js")" type="text/javascript"></script>

