@model SC.ViewModel.DepartmentListViewModel

@{
    ViewBag.Title = Model.FormTitle;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add Department", "EditDepartment", "Department",
        new { code = 0 },
        new { id = "btnCreate", @class = "btn btn-primary modal-link" })
</p>

<div id="messageContainer">
</div>

<div id="courseList">
    @Html.Partial("_DepartmentList", Model.DepartmentList)
</div>

<div id='modalDiv' class='modal fade in'>
    <div class="modal-dialog">
        <div id='modalContent'></div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/app/department.js")" type="text/javascript"></script>